@model IEnumerable<Domain.Word>
@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("/Scripts/jquery.js")"></script>
<script src="@Url.Content("/Scripts/app/HideTranslation.js")"></script>
<link type="text/css" rel="stylesheet" href="@Url.Content("/Content/wordListStyle.css")" />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            Words in English
        </h3>
    </div>
    <div class="panel-body">
        <table class="words-list table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center" width="60%">
                    Word
                </th>
                <th class="text-center">
                    Phonetic
                    <br/>
                    <div class="region uk-col">UK</div>
                    <div class="region us-col">US</div>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="vr-point vr-list-row">
                    <td class="text-left">
                        @item.Title
                    </td>
                    <td class="text-left">
                        <div class="region uk-col">@item.UkPhonic</div>
                        <div class="region us-col">@item.UsPhonic</div>
                    </td>
                </tr>
                <tr class="vr-hiden">
                    <td>
                        @item.Translation
                    </td>
                    <td class="tdEdit text-right">
                        <span>
                            @{ string url = "https://translate.google.com/#en/ro/" + item.Title; }
                            <a href="@url" target="_blank">translate.google.com</a>
                        </span>
                        <span>
                            @using (Html.BeginForm("Edit", "Word", FormMethod.Get))
                            {
                                @Html.Hidden("Id", item.Id)
                                <input type="submit" class="btn btn-default btn-xs" value="Edit" />
                            }
                        </span>
                    </td>
                </tr>
                                }

        </table>
    </div>



</div>
